
<div class="home-container">
  <main class="home-content">
    <section id="home" class="section">
      <form  [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()" class="user-form">
        <h2 class="form-title">Daycare-App-Login</h2>
        <div class="form-group">
          <label for="userName">Username:</label>
          <input id="userName" formControlName="userName" />
          <div *ngIf="loginForm.get('userName')?.invalid && loginForm.get('userName')?.touched" class="error-message">
            Username is required.
          </div>
        </div>
      
        <div class="form-group">
          <label for="password">Password:</label>
          <input id="password" formControlName="password" type="password" />
          <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="error-message">
            Valid password is required.
          </div>
        </div>
        <button type="submit" [disabled]="loginForm.invalid" class="submit-btn">Submit</button>
      </form>
      </section>
  </main>
</div>
